@import"./virables";

@media(max-width:767px){
    .container {
        width: 100%;
    }
    @include colxs();
    .block-text {
    
        position: relative;
        margin-bottom: 25px;
        margin-left: 12px;
    }
    .block-text img{
        width: 100%;
    }
    .block-text-3{
    
        position: relative;
        margin-bottom: 25px;
        margin-left: 12px;
    }
    .block-text img{
        width: 100%;
    }
    .text-content{
        position: absolute;
        top: 25px;
        left: 15px;
        color: white;
        z-index: 100;
        opacity: 0.95;
    }
    .head-phrase{
        font-family: 'Merriweather', serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 35px;
        
        
    }
    .phrase{
        font-family: 'Raleway', serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        
    }
    .opacity{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
    }

    .btn-know{
    margin-top: 15px;
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 16px;
    appearance: none;
    border:none;
    border-radius: 5px;
    background: transparent;
        
        
    }
    .btn-know:hover{
        color:  $color-main;
        cursor: pointer;
    }
    
    .hidden-block{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        color: black;
        display: none;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    @include colsm();
    .block-text {
        width: 100%;
        position: relative;
        margin-bottom: 25px;
        height: 252px;
        img{
            width: 100%;
        }
    }
    
    .block-text-3{
        height: 220px;
        position: relative;
        margin-bottom: 25px;
        img{
            width: 100%;
        }
         }
    .text-content{
        position: absolute;
        top: 25px;
        left: 15px;
        color: white;
        z-index: 100;
        opacity: 0.95;
    }
    .head-phrase{
        font-family: 'Merriweather', serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 35px;
        
        
    }
    .phrase{
        font-family: 'Raleway', serif;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        
    }
    .opacity{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
    }

    .btn-know{
    margin-top: 10px;
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 12px;
    appearance: none;
    border:none;
    border-radius: 5px;
    background: transparent;
        
        
    }
    .btn-know:hover{
        color:  $color-main;
        cursor: pointer;
    }
    
    .hidden-block{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        color: black;
        display: none;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}
@media(min-width:992px){
    .container {
        max-width: 960px;
    }
    @include colmd();
    .block-text {
       height: 355px;
        position: relative;
        margin-bottom: 25px;
        img{
            width: 100%;
        }
        
    }
    .block-text-3{
        height: 310px;
        position: relative;
        margin-bottom: 25px;
         
        img{
            width: 100%;
        }
    }
    

    .text-content{
        position: absolute;
        top: 55px;
        left: 15px;
        color: white;
        z-index: 100;
       opacity: 0.95;
    }
    .head-phrase{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 35px;
        
        
    }
    .phrase{
        font-family: 'Raleway', serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        
    }
    .opacity{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
    }

    .btn-know{
    margin-top: 15px;
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 16px;
    appearance: none;
    border:none;
    border-radius: 5px;
    background: transparent;
        
        
    }
    .btn-know:hover{
        color:  $color-main;
        cursor: pointer;
    }
    
    .hidden-block{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        color: black;
        display: none;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}
@media(min-width:1200px){
  
    .container {
    max-width: 1170px;
    }
    @include colmd();

     .block-text {
        height: 430px;
        position: relative;
        margin-bottom: 25px;
         
        img{
            width: 100%;
        }
     }
     .block-text-3{
        height: 380px;
        position: relative;
        margin-bottom: 25px;
         
        img{
            width: 100%;
        }
    
    
     }
    .text-content{
        position: absolute;
        top: 105px;
        left: 15px;
        color: white;
        z-index: 100;
       opacity: 0.95;
    }
    .head-phrase{
        font-family: 'Merriweather', serif;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 55px;
        
        
    }
    .phrase{
        font-family: 'Raleway', serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        
    }
    
.opacity{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    
}
    .btn-know{
    margin-top: 55px;
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 16px;
    appearance: none;
    border:none;
    border-radius: 5px;
    background: transparent;
        
        
    }
    .btn-know:hover{
        color:  $color-main;
        cursor: pointer;
    }
    
    .hidden-block{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        color: black;
        display: none;
        
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    

}
