@media(max-width:767px){
.container{
    width: 100%;
}
@include colxs();
    .banner{
     display: flex;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
    img{
        width: 100%;
    }
}
}
@media(min-width:768px){
    .container {
        max-width: 720px;
    }
    @include colsm();
    .banner{
        display: flex;
        justify-content: center;
       
    }
    
    .banner{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
        width: 100%;
        img{
            width: 100%;
        }
    }
   
}

@media(min-width:992px){
    .container {
        max-width: 960px;
    }
    @include colmd();
    .banner{
    
    margin-bottom: 10px;
      
       width: 100%;
       img{
           width: 100%;
       }
    }
    
}
@media(min-width:1200px){
    .container {
        max-width: 1170px;
    }
    @include colmd();
    .banner{
        
        margin-bottom: 15px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    
   
}